<input type="file" (change)="onChange($event)" #inputFile />
<button (click)="removeData()">Remove Data</button>
<div *ngIf="isExcelFile === false">This is not an Excel file</div>
<span *ngIf="spinnerEnabled" class="k-i-loading k-icon"></span>
<!-- <table>
  <th *ngFor="let key of keys">
    {{ key }}
  </th>
  <tr *ngFor="let item of dataSheet | async">
    <td *ngFor="let key of keys">
      <p >{{ item[key] }}</p>
    </td>
  </tr>
</table> -->

<nav
  class="navbar navbar-expand-lg p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
>
  <div class="container-xl">
    <a class="navbar-brand" href="#"
      ><img class="mb-2" src="./images/chubb-blue-logo.png" alt="" width="200"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample07XL"
      aria-controls="navbarsExample07XL"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07XL">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="p-2 text-dark" aria-current="page" href="#">Home</a>
        </li>
      </ul>
      <div>
        <p class="lead fw-bold m-0">Task Manage Tool</p>
        <p class="m-0">ClaimSmart Monthly Checklist</p>
      </div>
    </div>
  </div>
</nav>
<br />

<main class="container">
  <div class="row">
    <div class="col">
      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="pb-2 mb-0 text-end text-muted">
          Recent updates: 06 December 2020
        </h6>

        <div class="d-flex text-muted pt-3">
          <!-- Vertical Tab - Parent Start -->
          <div class="d-flex align-items-start">
            <div
              class="nav flex-column nav-pills me-5"
              id="v-pills-tab"
              role="tablist"
              aria-orientation="vertical"
            >
              <a
                class="nav-link mb-4 active"
                id=""
                data-bs-toggle="pill"
                href="#v-pills-p1"
                *ngFor="let _parentTask of parentTask"
                (click)="onParentClick()"
              >
                <div class="row">
                  <div class="col-2">
                    <span
                      class="badge rounded-pill bg-success"
                      style="width: 21px"
                      >&nbsp;</span
                    >
                  </div>
                  <div class="col-10">
                    <strong class="h4"> {{ _parentTask }} </strong> <br />
                    <!-- <span class="text-muted"> 25 Dec 2020 </span> -->
                  </div>
                </div>
              </a>
            </div>
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-p1">
                <!-- Task Tab Start -->
                <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a
                      *ngFor="let task of tasks"
                      class="nav-link h6 active"
                      id="nav-home-tab"
                      data-bs-toggle="tab"
                      href="#nav-home"
                      role="tab"
                      aria-controls="nav-home"
                      aria-selected="true"
                      (click)="onTaskClick(task)"
                      >{{ task }}</a
                    >
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                  <div
                    class="tab-pane fade show active"
                    id="nav-home"
                    role="tabpanel"
                    aria-labelledby="nav-home-tab"
                  >
                    <table
                      class="table table-striped table-hover my-4"
                      style="min-width: 995px"
                    >
                      <thead class="table-dark">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Sub-Task</th>
                          <th scope="col">Responsible Person</th>
                          <th scope="col">Expected Start/Delivery Date</th>
                          <th scope="col">Actual Delivery Date</th>
                          <th scope="col">Expected Data Release Date</th>
                          <th scope="col">Notes/Comments</th>
                          <th scope="col">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let resp of responsible">
                          <th scope="row">1</th>
                          <td>
                            <strong>{{ resp["Sub-Task"] }}</strong>
                          </td>
                          <td>
                            <span
                              class="badge rounded-pill bg-light text-dark"
                              >{{ resp["Responsible Person"] }}</span
                            >
                          </td>
                          <td>
                            <span
                              class="badge rounded-pill bg-light text-dark"
                              >{{
                                resp["Expected Start/Delivery Date"]
                                  | date: "short"
                              }}</span
                            >
                          </td>
                          <td>5</td>
                          <td>6</td>
                          <td>7</td>
                          <td>
                            <span
                              class="badge rounded-pill bg-warning"
                              style="width: 21px"
                              >&nbsp;</span
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="nav-profile"
                    role="tabpanel"
                    aria-labelledby="nav-profile-tab"
                  >
                    ...
                  </div>
                  <div
                    class="tab-pane fade"
                    id="nav-contact"
                    role="tabpanel"
                    aria-labelledby="nav-contact-tab"
                  >
                    ...
                  </div>
                  <div
                    class="tab-pane fade"
                    id="nav-info"
                    role="tabpanel"
                    aria-labelledby="nav-contact-tab"
                  >
                    ... info
                  </div>
                </div>
                <!-- Task Tab End -->
              </div>
              <div class="tab-pane fade" id="v-pills-p2">... 2</div>
              <div class="tab-pane fade" id="v-pills-p3">... 3</div>
            </div>
          </div>
          <!-- Vertical Tab - Parent End -->
        </div>
      </div>
    </div>
  </div>

  <footer class="pt-5 my-md-4 pt-md-4 border-top">
    <div class="d-flex justify-content-between">
      <div class="">
        <small class="d-block mb-3 text-muted">&copy; 2020</small>
      </div>
      <div class="">
        <img
          class="mb-2"
          src="./images/chubb-gray-logo.png"
          alt=""
          width="150"
        />
      </div>
    </div>
  </footer>
</main>
